<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>id</th>
        <th>이름</th>
        <th>칼로리</th>
        <th>몸무게</th>
        <th>운동량</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="selfTest : ${selfTests}">
        <td th:text="${selfTest.member_id}"></td>
        <td th:text="${selfTest.name}"></td>
        <td th:text="${selfTest.daykcal}"></td>
        <td th:text="${selfTest.dayweight}"></td>
        <td th:text="${selfTest.dayexercise}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>>