<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="agaig.justeat.jiwon.model.aws.dao.BoardMapper">

    <select id="findAll" resultType="agaig.justeat.jiwon.domain.Articles">

        SELECT * FROM articles;
    </select>

    <insert id="create" >
        INSERT INTO articles(article_title,article_text,member_id)
        VALUES(#{article_title},#{article_text},#{member_id});
    </insert>

    <select id="findOne" resultType="agaig.justeat.jiwon.domain.Articles">
        SELECT * FROM articles where article_id=#{article_id} ;
    </select>

    <delete id="deleteList">
        DELETE from articles where article_id=#{article_id} ;
    </delete>

    <update id="update">
        UPDATE articles
        SET article_title=#{article_title}, article_text=#{article_text}
        WHERE article_id=#{article_id} ;
    </update>
</mapper>