<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="agaig.justeat.member.repository.MemberRepository">
    <insert id="insert" parameterType="Member">
        insert into members(email, password, name, phone, address, gender, birth)
        values(#{email}, #{password}, #{name}, #{phone}, #{address}, #{gender}, #{birth})
    </insert>
    <select id="findByEmail" parameterType="String" resultType="Member">
        select * from members where email = #{email}
    </select>
    <select id="findById" parameterType="Long" resultType="Member">
        select * from members where member_id = #{member_id}
    </select>
    <update id="update" parameterType="Member">
        update members
        set name = #{name}, phone = #{phone}, address = #{address}, birth = #{birth}
        where member_id = #{member_id};
    </update>
</mapper>