<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="agaig.justeat.selftest.repository.SelfTestRepository">
    <insert id="save" parameterType="agaig.justeat.selftest.domain.SelfTest">
        insert into selftest(daykcal, dayweight, dayexercise, member_id, name)
        values(#{daykcal}, #{dayweight}, #{dayexercise}, #{member_id}, #{name})
    </insert>
    <select id="findById" resultType="agaig.justeat.selftest.domain.SelfTest">
        select daykcal, dayweight, dayexercise, member_id, name, date_format(regDate, '%y  %m  %d') AS regDate from selftest where member_id = #{member_id}
    </select>
</mapper>