@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
   font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
      "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
      "Malgun Gothic", sans-serif;
}
body {
   background-color: #f1f1f1;
   display: flex;
   justify-content: center;
}
.member-out-box {
   display: flex;
   justify-content: center;
   width: 520px;
   height: 100vh;
   border-left: 1px solid #cacaca;
   border-right: 1px solid #cacaca;
   background-color: white;
}
.member-submit-box {
   width: 500px;
   height: 800px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.member-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.member-title {
   font-family: "Pretendard";
   font-size: 24px;
   margin: 10px;
}
.member-input-text {
   font-family: "Pretendard";
   width: 374px;
   height: 48px;
   color: #555;
   font-size: 16px;
   font-weight: 400;
   margin-top: 15px;
   display: block;
   border: 1px solid #cacaca;
   border-radius: 5px;
}
.self-input-text {
   font-family: "Pretendard";
   width: 300px;
   height: 42px;
   color: #555;
   font-size: 16px;
   font-weight: 400;
   margin-top: 15px;
   display: block;
   border: 1px solid #cacaca;
   border-radius: 5px;
}
.member-input-text[type="text"]:disabled {
   font-family: "Pretendard";
   width: 374px;
   height: 48px;
   color: #999999;
   background: #eaeaea;
   font-size: 16px;
   font-weight: 400;
   margin-top: 15px;
   display: block;
   border: 1px solid #cacaca;
   border-radius: 5px;
}
.member-btn-a {
   font-family: "Pretendard";
   cursor: pointer;
   width: 380px;
   height: 50px;
   border-radius: 5px;
   border: none;
   background-color: #b3dbf2;
   color: #000000;
   font-size: 16px;
   font-weight: 400;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.member-btn-b {
   font-family: "Pretendard";
   cursor: pointer;
   width: 380px;
   height: 50px;
   border-radius: 5px;
   border: 1px solid #000000;
   background-color: #ffffff;
   color: #000000;
   font-size: 16px;
   font-weight: 400;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.member-btn-c {
   font-family: "Pretendard";
   width: 380px;
   height: 50px;
   border-radius: 5px;
   border: none;
   background-color: #b3dbf2;
   color: #000000;
   font-size: 16px;
   font-weight: 400;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.member-btn-d {
   font-family: "Pretendard";
   cursor: pointer;
   width: 270px;
   height: 50px;
   border-radius: 5px;
   border: none;
   background-color: #b3dbf2;
   color: #000000;
   font-size: 16px;
   font-weight: 400;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.member-btn-sns {
   font-family: "Pretendard";
   cursor: pointer;
   width: 380px;
   height: 64px;
   border-radius: 5px;
   border: none;
   background-color: #ffe500;
   color: #000000;
   font-size: 16px;
   font-weight: 400;
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
#kakao {
   padding-right: 50px;
}
.sns-text {
}
.select-gender {
   display: flex;
   padding: 15px 15px;
}
.select-gender input[type="radio"] {
   display: none;
}
.select-gender input[type="radio"] + label {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   height: 50px;
   width: 180px;
   border: 1px solid #cacaca;
   border-radius: 5px;
   line-height: 24px;
   text-align: center;
   font-size: 16px;
   margin: 5px;
}
.select-gender input[type="radio"] + label {
   background-color: #fff;
   color: #555;
}
.select-gender input[type="radio"]:checked + label {
   background-color: #3b779a;
   color: #fff;
}
.remember-id {
   margin-top: 5px;
   margin-bottom: 25px;
}
.article-table-header {
   border-bottom: 3px solid black;
}
.article-table-title {
   border-bottom: 3px solid #5d5d5d80;
}
.article-table thead > tr > th {
   padding: 15px;
}
.article-table tbody > tr > td {
   padding: 10px;
}
.article-table{
   text-align: center;
   margin: 10px;
   width: 1000px;
   border-collapse: collapse;
   word-break: break-all;
}
.article-box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   width: 1000px;
   height: 100vh;
   background-color: white;
   padding-left: 50px;
   padding-right: 50px;
}
.box {
   width: 100vw;
   height: 100vh;
   background-color: #f1f0ec;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.warning-msg {
   color: red;

.self-btn-a {
   font-family: "Pretendard";
   width: 380px;
   height: 50px;
   border-radius: 5px;
   border: none;
   background-color: #b3dbf2;
   color: #000000;
   font-size: 16px;
   font-weight: 400;
   margin-top: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
