<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="agaig.justeat.repository.MemberRepository">
    <insert id="save" parameterType="agaig.justeat.domain.Member">
        insert into members(email, password, name, phone, address, gender, birth)
        values(#{email}, #{password}, #{name}, #{phone}, #{address}, #{gender}, #{birth})
    </insert>
</mapper>